body {
  background-color: #F5F8FA;
  font-family: Roboto;
  height: 100%;
}

:global .text-center {
  text-align: center;
}

:global .full-height {
  height: 100%;
}

@media (max-width: 768px) {
  :global .container-fluid {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
