.main {
  padding: 1em 0;
}

.heading {
  line-height: 1em;
  padding-bottom: 0.2em;
}

.content {
  padding-top: 1em;
}

.submit {
  margin-top: 1em;
}

.timePicker .submit {
  text-align: left;
}

.error {
  font-size: 0.8em;
  color: #f00;
  text-align: left;
}

.schedulerActions {
  height: 100%;
}

.schedulerActions p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.870588);
  display: block;
  line-height: 36px;
}

.createTask {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: none;
}

.editButton {
  text-align: right;
}

.tasks {
  max-height: 475px;
  overflow: scroll;
  padding-bottom: 2em;
}

@media (max-width: 768px) {
  .schedulerActions .content {
    display: none;
  }

  .createTask {
    display: block;
  }

  .editButton {
    position: fixed;
    right: 24px;
    bottom: 24px;
  }
}
