.heading {
  line-height: 1em;
  padding-bottom: 0.2em;
}

.content {
  padding-top: 1em;
}

.createFabButton {
  text-align: right;
  position: relative;
  right: 12px;
  bottom: 50px;
}

.schedulerActions {
  height: 100%;
}

.schedulerActions p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.870588);
  display: block;
  line-height: 36px;
}

@media (max-width: 768px) {
  .schedulerActions .content {
    display: none;
  }

  .createFabButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
  }
}
