.error {
  font-size: 0.8em;
  color: #f00;
}

.submit .secondaryAction {
  margin-top: 1em;
}

.alreadyConfirmed {
  font-size: 0.8em;
  margin: 0.6em 0;
}

.secondaryAction a,
.alreadyConfirmed a,
.secondaryAction a:visited,
.alreadyConfirmed a:visited,
.secondaryAction a:hover,
.alreadyConfirmed a:hover {
  text-decoration: none;
  color: #0275d8;
}
